{% extends "Admin/base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <section class="well">
        <h1 class="text-center">Géstion des messages</h1>
    </section>

    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="?admin/index">Home</a></li>
        <li class=""><a href="?admin/contact">Contact</a></li>
        <li class="active"><span>Index</span></li>
    </ol>

    <section id="messages-list">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Informations <small>qhorin@gmail.com</small></h4>
                <small>à 16/05/2014 03:22</small><br><br>
                <p class="list-group-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim, velit ac dapibus egestas, nulla libero dictum sem, et sodales dolor elit eget risus. Praesent lectus risus, vulputate at tellus vitae, vestibulum varius sem. Fusce dapibus leo vel augue dapibus vestibulum. Cras augue lectus, faucibus ornare turpis in, malesuada congue nunc. Duis gravida lectus luctus, suscipit metus eu, molestie nulla. Vestibulum eleifend fringilla enim, vel scelerisque lacus vulputate ut. Ut vestibulum iaculis justo et congue. Morbi malesuada eros rhoncus libero suscipit imperdiet. Donec turpis tellus, pulvinar ut rutrum in, porttitor nec justo. Integer vel aliquam purus, et congue eros.
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Informations <small>qhorin@gmail.com</small></h4>
                <small>à 16/05/2014 03:22</small><br><br>
                <p class="list-group-item-text">
                    Curabitur vitae sapien sed dui condimentum bibendum ut ac leo. Praesent suscipit venenatis nulla, semper mollis quam mattis vel. Pellentesque cursus justo et placerat egestas. Suspendisse non mi non felis efficitur hendrerit quis et mauris. Suspendisse ac felis eget leo pretium pharetra quis a velit.
                </p>
            </a>
        </div>
    </section>
{%  endblock %}
